<!DOCTYPE html>
<html>
  <head>
    <title>PlacesYouveBeen</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
        <h1 class="jumbotron">Welcome to Places You've Been Website!</h1>
        <a href="/places/new"><button class="btn btn-info">Add a new place!</button></a>
    </div>
  </body>
</html>
