@using PlacesYouveBeen.Models;

<!DOCTYPE html>
<html>
  <head>
    <title>PlacesYouveBeen</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Places You've Been</h1>
      @foreach(Place place in Model)
      {
        <h3><a href='places/@place.GetId()'>@place.GetCity()</a></h3>
      }
      <a href='/places/new'><button class='btn btn-info'>Add a new place!</button></a>
    </div>
  </body>
</html>
